body {
    background-color: #141426;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, transparent, #141426), url("../src/assets/backgroundimage.webp");
    font-family: Helvetica, sans-serif, Arial;
    margin: none;
    overflow-x: hidden;
    margin-bottom: 30px;
    
}
